{% extends 'base.html.twig' %}

{% block title %}Hello IngredientController!{% endblock %}

{% block body %}
    <h1>Zutaten</h1>
    <table>
        <tr>
            <th>Id</th><th>Name</th><th>Preis in €</th>
        </tr>
        {% for key, ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.id }}</td><td>{{ ingredient.name }}</td><td>{{ ingredient.price }}</td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{ path("ingredients_new") }}">Neue Zutat hinzufügen</a>
    <a href="{{ path('index') }}">Zurück zum Hauptmenü</a>

    <data-table
            api-url="{{ path('ingredients_index') }}"
            sort-by="state"
            :sort-desc="false"
            :per-page="10"
            :fields="[
                        {key: 'name', label: 'Name', sortable: true},
                        {key: 'price', label: 'Preis', sortable: true},
                    ]">
    </data-table>
{% endblock %}
