{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    <h1>Hello@PizzaPete's!</h1>
{#    <span> {{ '{{' }} test {{ '}}' }}</span>#}
    <ul>
        <li><a href="{{  path('pizza') }}">Pizzen</a></li>
        <li><a href="{{  path('recipe') }}">Rezept</a></li>
        <li><a href="{{  path('ingredients') }}">Zutaten</a></li>
    </ul>
{% endblock %}
