{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block body %}
        <h1>Alle Rezepte</h1>
        <table>
            <tr>
                <th>Id</th><th>Name</th>
            </tr>
            {% for key, recipe in recipes %}
            <tr>
                <td>{{ key }}</td><td>{{ recipe.name }}</td><td>
                    {% for ingedient in recipe.ingredients %}
                        {{ ingredient }},
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>

        <a href="{{ path('recipe_new') }}">Neues Rezept anlegen</a>
        <a href="{{ path('index') }}">Zurück zum Hauptmenü</a>
{% endblock %}
